# Serial could be found using the following command:
# lsusb -d 0451:bef3 -v | grep -i iserial
if { [info exists _ZEPHYR_BOARD_SERIAL] } {
    adapter serial $_ZEPHYR_BOARD_SERIAL
}

source [find board/ti_cc26x2x7_launchpad.cfg]

# Workaround: Enable system reset
# OpenOCD will print a lot of freaky error but so far it works well.
# JTAG connection will be lost and the fully re-initialized.
$_TARGETNAME configure -event reset-start {
        icepick_c_wreset cc26x2x7.jrc
}
