# Copyright (c) 2021 Basalte bv
# SPDX-License-Identifier: Apache-2.0

config ZEPHYR_PROTOBUF_C_MODULE
	bool

menuconfig PROTOBUF_C
	bool "protobuf-c Support"
	help
	  This option enables the protobuf-c library.
