/ {
        esphome {
                compatible = "nabucasa,esphome";
                entity_id = "zephyr_esphome";
                friendly_name = " Zephyr ESPHOME sample device";
                password = "mypassword";
                status = "okay";

                gpio-output {
                        gpio-output-7 {
                                compatible = "nabucasa,esphome-switch-gpio";
                                device_name = "GPIO LED 7";
                                gpios = <&gpiob 7 GPIO_ACTIVE_HIGH>;
                                status = "okay";
                        };
                };

                buttons {
                        ha-btn-1 {
                                compatible = "nabucasa,esphome-button";
                                device_name = "Button 1";
                                on_push = "ha_btn_1_on_push_cb";
                                status = "okay";
                        };

                        ha-btn-2 {
                                compatible = "nabucasa,esphome-button";
                                device_name = "Button 2";
                                on_push = "ha_btn_2_on_push_cb";
                                status = "okay";
                        };
                };
        };

        api {
                compatible = "nabucasa,esphome-api";
                entity_id = "zephyr_esphome";
                friendly_name = " Zephyr ESPHOME sample device";
                password = "mypassword";
                status = "okay";
        };
};
